.jstree li.php a .jstree-icon {
    background-repeat: repeat;
    background-image: url(../img/page.gif);
}

#tree {
    float: left;
    background-image: url('../img/separator.gif');
    background-position: right top;
    background-repeat: repeat-y;
    padding-right: 5px;
}
