.jstree li.php a .jstree-icon {
    background-repeat: repeat;
    background-image: url(../img/page.gif);
}

#treeContainer {
    float: left;
}

#tree {
    float: left;
    padding-right: 5px;
}

#treeToggle {
    display: inline-block;
    background-image: url(../img/treeToggle.gif);
}

#treeHeader {
    font-weight: bold;
    color: #555753;
    white-space: nowrap;
}
