<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>
			Code Browser - Tree View		</title>
	</head>
	<frameset cols="220,*" frameborder="yes" id="frameset" name="frameset" border="2" framespacing="0">
  		<frame src="./tree.html" name="treeView" scrolling="auto" id="treeView" title="treeView" />
  		<frame src="./flatView.html" name="reviewView" id="reviewView" title="reviewView" />
	</frameset>
</html>